:root {
    --titles: 'Six Caps', sans-serif;
    --sans-serif: 'Inter', sans-serif;
    --lightblue: #C7DCFA;
}
/* reset default settings */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--sans-serif);
}

h1 {
    font-family: var(--titles);
    font-size: 100px;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
}
